[![AnalyticsDojo](https://s3.amazonaws.com/analyticsdojo/logo/final-logo.png)](http://www.analyticsdojo.com)
<center><h1>Introduction to R - Merging and Aggregating Data</h1></center>
<center><h3><a href = 'http://www.analyticsdojo.com'>www.analyticsdojo.com</a></h3></center>

### Links: [local](http://localhost:8888/notebooks/classes/05-intro-r2/intro-r-merge-agg-fun.ipynb) [github](https://github.com/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/05-intro-r2/intro-r-merge-agg-fun.ipynb) [slides](http://nbviewer.jupyter.org/format/slides/github/AnalyticsDojo/materials/blob/master/analyticsdojo/classes/05-intro-r2/intro-r-merge-agg-fun.ipynb#/)

## Overview
- Merging Dataframes 
- Aggregating Dataframes
- Advanced Functions

## Merging Data Frame with Vector
- Can combine vector with data frame in multiple ways. 
- `data.frame(a,b)` where a & b can be vectors, matrices, or data frames.

In [110]:
#Below is the sample data we will be creating 2 dataframes  
key=(1L:10L)

#Here we are passing the row names and column names as a list. 
m<- data.frame(matrix(rnorm(40, mean=20, sd=5), nrow=10, ncol=4, dimnames=list((1:10),c("a","b","c","d"))))
m2<- data.frame(matrix(rnorm(40, mean=1000, sd=5), nrow=10, ncol=4, dimnames=list((1:10),c("e","f","g","h"))))

#This is one way of combining a vector with a dataframe. 
df<-  data.frame(key,m)
df2<- data.frame(key,m2)

#This is another way way of combining a vector with a dataframe. 
dfb<-  cbind(key,m)
df2b<- cbind(key,m2)

df
df2
dfb
df2b

   key        a        b        c        d
1    1 22.32280 10.62117 18.90913 19.16068
2    2 21.02515 15.20448 21.10704 24.27800
3    3 17.71525 24.71524 20.70840 17.04829
4    4 18.19426 20.90053 19.22178 10.74220
5    5 18.13485 25.65817 18.55815 19.26114
6    6 13.77288 27.02308 22.84447 30.84158
7    7 23.83897 10.88013 23.89998 20.51757
8    8 16.38088 14.77737 24.95019 17.60866
9    9 19.21553 20.39126 21.46045 19.40804
10  10 26.57848 24.74829 21.63895 17.96534

   key         e         f         g         h
1    1 1007.8612 1003.3717 1004.7310  990.9197
2    2  998.2851 1003.8919 1001.8561 1004.9887
3    3  999.3179  996.4377 1002.9626 1005.0673
4    4 1005.6120  998.6005  995.2084 1007.1035
5    5  993.9435  999.1071 1000.3812  994.7022
6    6  988.4745  997.2250  999.1835 1002.4818
7    7  985.9727  997.0117  994.7096 1007.2753
8    8 1002.6338  995.4150  998.0679 1001.8247
9    9  995.1088  997.0016  997.3565  998.1941
10  10 1010.6668  996.4276  993.2288  994.9349

   key        a        b        c        d
1    1 22.32280 10.62117 18.90913 19.16068
2    2 21.02515 15.20448 21.10704 24.27800
3    3 17.71525 24.71524 20.70840 17.04829
4    4 18.19426 20.90053 19.22178 10.74220
5    5 18.13485 25.65817 18.55815 19.26114
6    6 13.77288 27.02308 22.84447 30.84158
7    7 23.83897 10.88013 23.89998 20.51757
8    8 16.38088 14.77737 24.95019 17.60866
9    9 19.21553 20.39126 21.46045 19.40804
10  10 26.57848 24.74829 21.63895 17.96534

   key         e         f         g         h
1    1 1007.8612 1003.3717 1004.7310  990.9197
2    2  998.2851 1003.8919 1001.8561 1004.9887
3    3  999.3179  996.4377 1002.9626 1005.0673
4    4 1005.6120  998.6005  995.2084 1007.1035
5    5  993.9435  999.1071 1000.3812  994.7022
6    6  988.4745  997.2250  999.1835 1002.4818
7    7  985.9727  997.0117  994.7096 1007.2753
8    8 1002.6338  995.4150  998.0679 1001.8247
9    9  995.1088  997.0016  997.3565  998.1941
10  10 1010.6668  996.4276  993.2288  994.9349

## Merging Columns of Data Frame with another Data Frame
- Can combine data frame in multiple ways. 
- `merge(a,b,by="key")` where a & b are dataframes with the same keys.
- `cbind(a,b)` where a & b are dataframes with the same number of rows.

In [106]:
# This manages the merge by an associated key.
df3 <- merge(df,df2,by="key")
# This just does a "column bind" 
df4<- cbind(df,df2)
df3
df4

   key         a        b         c         d         e         f         g
1    1 15.306835 25.90127 12.531201 17.737151  994.0656 1005.4146  997.4325
2    2 20.050461 21.99279 15.744514 26.546786  995.9014 1001.1300 1004.2388
3    3 22.823490 23.25698 18.858142 20.371944 1001.0432  994.6970 1002.9770
4    4 19.021847 19.71537 25.635818 24.465941  995.3685  996.7664  994.6383
5    5  8.744913 23.07590 20.729762 20.223729 1004.9630 1003.2906 1002.0720
6    6 27.095722 22.49610 21.957270 22.282587 1003.3522  994.0525 1004.7019
7    7 17.481753 15.18390 14.462432 23.275539  996.8529  996.8141 1012.5576
8    8 16.877822 17.84323  2.015743 21.602739 1003.8030 1003.0566  994.1483
9    9 33.762673 12.42129 23.067139 22.646215 1003.4287 1012.0745 1007.4837
10  10 29.151001 25.18501 15.031918  9.303977 1004.8178 1001.1541  992.6298
           h
1  1005.1295
2  1000.8051
3   994.4684
4   998.1104
5   994.9298
6   992.4355
7   998.4831
8   996.3742
9   998.3029
10 1000.3407

   key         a        b         c         d key         e         f         g
1    1 15.306835 25.90127 12.531201 17.737151   1  994.0656 1005.4146  997.4325
2    2 20.050461 21.99279 15.744514 26.546786   2  995.9014 1001.1300 1004.2388
3    3 22.823490 23.25698 18.858142 20.371944   3 1001.0432  994.6970 1002.9770
4    4 19.021847 19.71537 25.635818 24.465941   4  995.3685  996.7664  994.6383
5    5  8.744913 23.07590 20.729762 20.223729   5 1004.9630 1003.2906 1002.0720
6    6 27.095722 22.49610 21.957270 22.282587   6 1003.3522  994.0525 1004.7019
7    7 17.481753 15.18390 14.462432 23.275539   7  996.8529  996.8141 1012.5576
8    8 16.877822 17.84323  2.015743 21.602739   8 1003.8030 1003.0566  994.1483
9    9 33.762673 12.42129 23.067139 22.646215   9 1003.4287 1012.0745 1007.4837
10  10 29.151001 25.18501 15.031918  9.303977  10 1004.8178 1001.1541  992.6298
           h
1  1005.1295
2  1000.8051
3   994.4684
4   998.1104
5   994.9298
6   992.4355
7   998.4831
8   996.3742
9   998.3029
10 1000.3407

## Merging Rows of Data Frame with another Data Frame
- `rbind(a,b)` combines rows of data frames of a and b.
- `rbind(a,b, make.row.names=FALSE)` this will reset the index.

In [56]:
#Here we can combine rows with rbind. 
df5<-df
#The make Row
df6<-rbind(df,df5)
df6
df7<-rbind(df,df5, make.row.names=FALSE)
df7

    key        a        b         c        d
1     1 23.79673 18.25258 18.703024 21.16741
2     2 32.17846 16.84168 21.362624 20.67891
3     3 24.22406 30.15848 20.628571 18.21497
4     4 18.00913 12.77107  8.265824 22.44412
5     5 15.13451 25.72037 21.459729 12.96514
6     6 27.81598 28.00179 28.532001 16.96023
7     7 21.74676 24.03397 24.908786 21.10662
8     8 15.39738 13.11944 25.514899 27.04881
9     9 19.73008 20.68793 19.589387 17.83640
10   10 17.00273 19.55965 12.376183 25.42529
11    1 23.79673 18.25258 18.703024 21.16741
21    2 32.17846 16.84168 21.362624 20.67891
31    3 24.22406 30.15848 20.628571 18.21497
41    4 18.00913 12.77107  8.265824 22.44412
51    5 15.13451 25.72037 21.459729 12.96514
61    6 27.81598 28.00179 28.532001 16.96023
71    7 21.74676 24.03397 24.908786 21.10662
81    8 15.39738 13.11944 25.514899 27.04881
91    9 19.73008 20.68793 19.589387 17.83640
101  10 17.00273 19.55965 12.376183 25.42529

   key        a        b         c        d
1    1 23.79673 18.25258 18.703024 21.16741
2    2 32.17846 16.84168 21.362624 20.67891
3    3 24.22406 30.15848 20.628571 18.21497
4    4 18.00913 12.77107  8.265824 22.44412
5    5 15.13451 25.72037 21.459729 12.96514
6    6 27.81598 28.00179 28.532001 16.96023
7    7 21.74676 24.03397 24.908786 21.10662
8    8 15.39738 13.11944 25.514899 27.04881
9    9 19.73008 20.68793 19.589387 17.83640
10  10 17.00273 19.55965 12.376183 25.42529
11   1 23.79673 18.25258 18.703024 21.16741
12   2 32.17846 16.84168 21.362624 20.67891
13   3 24.22406 30.15848 20.628571 18.21497
14   4 18.00913 12.77107  8.265824 22.44412
15   5 15.13451 25.72037 21.459729 12.96514
16   6 27.81598 28.00179 28.532001 16.96023
17   7 21.74676 24.03397 24.908786 21.10662
18   8 15.39738 13.11944 25.514899 27.04881
19   9 19.73008 20.68793 19.589387 17.83640
20  10 17.00273 19.55965 12.376183 25.42529

## `aggregate` and `by`
- Aggregation is a very important function.
- Can have variables/analyses that happen at different levels.
- `by(x, by, FUN)` provides similar functionality.

In [28]:
iris=read.csv(file="../../data/iris.csv", header=TRUE,sep=",")
head(iris)

  sepalLength sepalWidth petalLength petalWidth species
1         5.1        3.5         1.4        0.2  setosa
2         4.9        3.0         1.4        0.2  setosa
3         4.7        3.2         1.3        0.2  setosa
4         4.6        3.1         1.5        0.2  setosa
5         5.0        3.6         1.4        0.2  setosa
6         5.4        3.9         1.7        0.4  setosa

In [75]:
iris<-read.csv(file="../../data/iris.csv", header=TRUE,sep=",")

#Aggregate by Species  aggregate(x, by, FUN, ...)
iris.agg<-aggregate(iris[,1:4], by=list("species" = iris$species), mean)
print(iris.agg)

#Notice this gives us the same output but structured differently. 
by(iris[, 1:4], species, colMeans)

     species sepalLength sepalWidth petalLength petalWidth
1     setosa       5.006      3.418       1.464      0.244
2 versicolor       5.936      2.770       4.260      1.326
3  virginica       6.588      2.974       5.552      2.026

species: setosa
sepalLength  sepalWidth petalLength  petalWidth
      5.006       3.418       1.464       0.244
------------------------------------------------------------
species: versicolor
sepalLength  sepalWidth petalLength  petalWidth
      5.936       2.770       4.260       1.326
------------------------------------------------------------
species: virginica
sepalLength  sepalWidth petalLength  petalWidth
      6.588       2.974       5.552       2.026

## `apply`(plus `lapply`/`sapply`/`tapply`/`rapply`)
- `apply` - Applying a function to **an array or matrix**, return a vector or array or list of values. `apply(X, MARGIN, FUN, ...)`
- [`lapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - Apply a function to **each element of a list or vector**, return a **list**. 
- [`sapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - A user-friendly version if `lapply`. Apply a function to **each element of a list or vector**, return a **vector**.
- `tapply` - Apply a function to **subsets of a vector** (and the subsets are defined by some other vector, usually a factor), return a **vector**. 
- `rapply` - Apply a function to **each element of a nested list structure, recursively,** return a list.
- Some functions aren't vectorized, or you may want to use a function on every row or column of a matrix/data frame, every element of a list, etc.
- For more info see this [tutorial](https://nsaunders.wordpress.com/2010/08/20/a-brief-introduction-to-apply-in-r/)

## `apply`
- `apply` - Applying a function to **an array or matrix**, return a vector or array or list of values. `apply(X, MARGIN, FUN, ...)`
- If you are using a data frame the data types must all be the same. 
- `apply(X, MARGIN, FUN, ...) where X is an array or matrix. 
- `MARGIN` is a vector giving the where function should be applied. E.g., for a matrix 1 indicates rows, 2 indicates columns, c(1, 2) indicates rows and columns.
- `FUN` is any function.

In [70]:
iris<-read.csv(file="../../data/iris.csv", header=TRUE,sep=",")
iris$sum<-apply(iris[1:4], 1, sum) #This provides a sum across collumns for each row. 
iris$mean<-apply(iris[1:4], 1, mean)#This provides a mean across collumns for each row. 
head(iris)
apply(iris[1:4], 2, mean)

  sepalLength sepalWidth petalLength petalWidth species  sum  mean
1         5.1        3.5         1.4        0.2  setosa 10.2 2.550
2         4.9        3.0         1.4        0.2  setosa  9.5 2.375
3         4.7        3.2         1.3        0.2  setosa  9.4 2.350
4         4.6        3.1         1.5        0.2  setosa  9.4 2.350
5         5.0        3.6         1.4        0.2  setosa 10.2 2.550
6         5.4        3.9         1.7        0.4  setosa 11.4 2.850

sepalLength  sepalWidth petalLength  petalWidth
   5.843333    3.054000    3.758667    1.198667

## `lapply` & `sapply`
- [`lapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - Apply a function to **each element of a list or vector**, return a **list**.
- `lapply(X, FUN, ...)`
- [`sapply`](https://stat.ethz.ch/R-manual/R-devel/library/base/html/lapply.html) - A user-friendly version if `lapply`. Apply a function to **each element of a list or vector**, return a **vector**.
- `sapply(X, FUN, ...)`

In [95]:
# create a list with 2 elements
sample <- list("count" = 1:5, "numbers" =5:10)

# sum each and return as a list. 
sample.sum<-lapply(sample, sum)

class(sample.sum)
print(c(sample.sum, sample.sum["numbers"],sample.sum["count"]))

[1] "list"

$count
[1] 17

$numbers
[1] 47

$numbers
[1] 47

$count
[1] 17

In [111]:
# create a list with 2 elements
sample <- list("count" = 1:5, "numbers" =5:10)

# sum each and return as a list. 
sample.sum<-sapply(sample, sum)

class(sample.sum)
print(c(sample.sum, sample.sum["numbers"],sample.sum["count"],sample.sum[["count"]]))

#Note the differenece between #sample.sum[["count"]] and sample.sum["count"]

[1] "integer"

  count numbers numbers   count
     15      45      45      15      15

In [104]:
# We can also utilize simple 
square<-function(x) x^2
square(1:5)

# We can use our own function here.     
sapply(1:10, square)

#We can also specify the function directly in sapply.
sapply(1:10, function(x) x^2)

[1]  1  4  9 16 25

 [1]   1   4   9  16  25  36  49  64  81 100

 [1]   1   4   9  16  25  36  49  64  81 100

## `tapply` 
- `tapply` - Apply a function to subsets of a vector (and the subsets are defined by some other vector, usually a factor), return a vector.
- Can do something similar to aggregate.

In [49]:
#Tapply example
#tapply(X, INDEX, FUN, ) 
#X = a vector, INDEX = list of one or more factor, FUN = Function or operation that needs to be applied. 
iris<-read.csv(file="../../data/iris.csv", header=TRUE,sep=",")
iris.sepalLength.agg<-tapply(iris$sepalLength, iris$species, mean)
print(iris.sepalLength.agg)

    setosa versicolor  virginica
     5.006      5.936      6.588

In [ ]:
col.sums <- apply(x, 2, sum)
row.sums <- apply(x, 1, sum)

## CREDITS


Copyright [AnalyticsDojo](http://www.analyticsdojo.com) 2016.
This work is licensed under the [Creative Commons Attribution 4.0 International](https://creativecommons.org/licenses/by/4.0/) license agreement.
This work is adopted from the Berkley R Bootcamp.